body{
	font-family: georgia;
	background: white;
	font-size: 1.2rem;
	line-height: 1.3em;
	background-image: url(back_image.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.ba_img{
	margin: 0 0;
}

.contenedor{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.encabezado{
	background: darkgray;
	color: white;
	padding: 2rem 0;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.encabezado a{
	color: white;
	text-decoration: none;
}

.elementos-d{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	letter-spacing: 5px;
	font-size: 1.2em;
	border: solid;
	border-radius: 5px 0px;
}


.tres_lineas{
	display: none;

}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: right;
}

.navigation ul li{
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.5s linear;
	margin: 5px;
}

.navigation ul li a:hover{
	background: gray;
}

.margin{
	padding-top: 12rem;
}


ul.nav{
	position: fixed;
	display: none;
	list-style: none;
	background-color: darkgray;
	border-radius: 5px;
	justify-content: center;
}

.sub_menu{
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: flex-start;
}

.sub_menu li{
	padding: 0px;
	margin: 0px;
}

.sub_menu li a{
	transition: all 0.5s linear;
	border-radius: 2px;
	text-align: right;
}

.peru{
	text-align: center;
	margin: 0;
	padding: 0;
}

ul li: .nav{
	display: block;
}

.nav li:hover{
	transition: 0.5s;
}

.menu-1{
	justify-content: right;
}

ul .nav{
	display: none;
	transition: all 0.5s linear;
	border-radius: 1px;

}

 .nav.show{
	display: block;

	}

	.nav li:hover{
		transition: 0.5s;
	}

	div.sub_menu li{
		justify-content: right;
	}

@media only screen and (max-width: 870px) {

	.tres_lineas{
		display: block;
		cursor: pointer;
		padding: 0.5rem 1rem;
		transition: all 0.5s linear;
	}

	.tres_lineas:hover{
		background: gray;
	}

	.navigation ul{
		display: none;
	}

	.navigation ul.show {
		display: block;
	}

	.navigation{
		width: 100%;
		margin-top: 1rem;
	}
	.navigation ul li{
		display: block;
	}

	.navigation ul li a{
		display: block;
		padding: 0.5rem 1rem;
		transition: all 0.5s linear;
		border-radius: 1px;
		text-align: right;
	}

	.navigation ul li a:hover{
		background: gray;
	}	

	
	ul .nav{
		display: none;
		transition: all 0.5s linear;
		border-radius: 1px;

	}

	 nav.show{
	display: block;

	}

	.nav li:hover{
		transition: 0.5s;
	}

	div.sub_menu li{
		justify-content: right;
	}
}